[Desktop Entry]
Type=Application
Name=FastTIFF
GenericName=TIFF Viewer
Comment= A lightning-fast multi-frame 2D- and 3D-viewer with ImageJ-compatible GPU-rendering
Exec=FastTIFF %F
Icon=fasttiff
Terminal=false
Categories=Graphics;Viewer;Science;
MimeType=image/tiff;
StartupNotify=true
